Population data from: https://www.destatis.de/DE/Themen/Gesellschaft-Umwelt/Bevoelkerung/Bevoelkerungsstand/Tabellen/bevoelkerung-nichtdeutsch-laender-basis-2022.html?templateQueryString=bev%C3%B6lkerung+bundesl%C3%A4nder

In [1]:
import pandas as pd
import numpy as np
df = pd.read_excel("Population Germany.xlsx")

In [2]:
df.head()

               State Population Total     Germans Non-Germans EU citizens
0  Baden-Württemberg       11 245 898   9 198 542   2 047 356     836 227
1             Bayern       13 248 928  11 176 322   2 072 606     871 087
2             Berlin        3 685 265   2 856 188     829 077     229 990
3        Brandenburg        2 556 747   2 372 658     184 089      52 849
4             Bremen          704 881     544 262     160 619      39 079

### I want only the total population, so I'm getting rid of everything else and cleaning the numbers up.

In [3]:
df.shape

(17, 5)

In [4]:
df = df.drop(16)

In [5]:
df.tail()

                 State Population Total    Germans Non-Germans EU citizens
11            Saarland        1 012 141    859 234     152 907      56 331
12             Sachsen        4 042 422  3 714 591     327 831      88 551
13      Sachsen-Anhalt        2 135 597  1 972 596     163 001      38 838
14  Schleswig-Holstein        2 959 517  2 654 448     305 069      88 414
15           Thüringen        2 100 277  1 925 609     174 668      49 669

In [6]:
df.dtypes

State               object
Population Total    object
Germans             object
Non-Germans         object
EU citizens         object
dtype: object

In [7]:
df.drop(columns=["Germans", "Non-Germans", "EU citizens"], inplace=True)

In [8]:
df.head()

               State Population Total
0  Baden-Württemberg       11 245 898
1             Bayern       13 248 928
2             Berlin        3 685 265
3        Brandenburg        2 556 747
4             Bremen          704 881

In [9]:
df.rename(columns={"Population Total": "Population"}, inplace=True)

In [10]:
df.head()

               State  Population
0  Baden-Württemberg  11 245 898
1             Bayern  13 248 928
2             Berlin   3 685 265
3        Brandenburg   2 556 747
4             Bremen     704 881

In [11]:
df["Population"].astype(str)

0     11 245 898
1     13 248 928
2      3 685 265
3      2 556 747
4        704 881
5      1 862 565
6      6 280 793
7      1 573 597
8      8 004 489
9     18 034 454
10     4 129 569
11     1 012 141
12     4 042 422
13     2 135 597
14     2 959 517
15     2 100 277
Name: Population, dtype: object

In [16]:
df["Population"] = df["Population"].str.replace(r"\s+", "", regex=True)

In [17]:
df.head()

               State Population
0  Baden-Württemberg   11245898
1             Bayern   13248928
2             Berlin    3685265
3        Brandenburg    2556747
4             Bremen     704881

In [18]:
df["Population"].astype(int)

0     11245898
1     13248928
2      3685265
3      2556747
4       704881
5      1862565
6      6280793
7      1573597
8      8004489
9     18034454
10     4129569
11     1012141
12     4042422
13     2135597
14     2959517
15     2100277
Name: Population, dtype: int64

In [19]:
df.to_excel("Population Germany by State (Total only).xlsx", index=False)